
body {
  background-color: #19B7CA;
}

.header {
  text-align: center;
}

.form-control {
  width: 50%;
}
.form-group {
  margin-bottom: 50px;
}
.newWidth {
  width: 25%;
  background-color: #3064F2;
}

form {
  text-align: center;
}
